In [1]:
import  pickle
import numpy as np
import pandas as pd
#El enfoque es la diferencia entre RB y R, RB es abierta binario, R es un archivo de texto abierto
data=pd.read_pickle(r'uke_eggedal_data_challenge.pkl')
#data = np.array(data)

print("Telosico")

Telosico

In [17]:
data.keys()

dict_keys(['flow', 'obs_tas', 'flow_dates', 'obs_lon_lat', 'obs_pr', 'obs_dates'])

In [18]:
for k in data.keys():
    print(k)
    print(type(data[k]))
    print(np.array(data[k]).shape)

flow
<class 'numpy.ndarray'>
(21542,)
obs_tas
<class 'numpy.ndarray'>
(21546, 9)
flow_dates
<class 'pandas.core.series.Series'>
(21542,)
obs_lon_lat
<class 'list'>
(2,)
obs_pr
<class 'numpy.ndarray'>
(21546, 9)
obs_dates
<class 'pandas.core.series.Series'>
(21546,)

In [19]:
pd.DataFrame(data["obs_tas"])

,0,1,2,3,4,5,6,7,8
0,-10.600000,-9.7,-6.7,-8.800000,-8.900000,-7.500000,-8.1,-6.5,-5.4
1,-20.500000,-19.1,-12.0,-17.700001,-17.700001,-13.100000,-15.5,-11.8,-9.1
2,-23.600000,-22.5,-15.1,-21.400000,-21.400000,-16.299999,-19.4,-14.6,-12.2
3,-16.200001,-16.0,-14.1,-15.600000,-15.400000,-14.500000,-15.0,-13.8,-11.9
4,-7.900000,-7.8,-9.5,-7.600000,-7.500000,-8.000000,-7.4,-8.6,-8.2
...,...,...,...,...,...,...,...,...,...
21541,-12.500000,-11.7,-8.6,-11.000000,-10.900000,-9.200000,-9.7,-8.4,-7.5
21542,-12.500000,-11.9,-9.1,-11.400000,-11.200000,-9.800000,-10.6,-8.6,-7.5
21543,-11.900000,-11.4,-8.4,-10.800000,-10.800000,-8.600000,-9.3,-7.2,-6.3
21544,-7.000000,-6.5,-3.4,-5.900000,-6.100000,-4.800000,-5.0,-3.8,-3.0
21545,-2.400000,-2.1,1.3,-1.500000,-1.800000,-0.800000,-0.9,0.5,1.1

In [20]:
# asigno cada columna a una variable para crear tablas

flow = pd.DataFrame(data['flow']) # flujo (m3 / sec) - one location - 21542 rows
obs_tas = pd.DataFrame(data['obs_tas']) # Temperature (deg C) – 9 locations - 21546 rows
flow_dates = pd.DataFrame(data['flow_dates']) # dates - 21542 rows
obs_lon_lat = pd.DataFrame(data['obs_lon_lat']) # lon and lat- one location - 2 rows
obs_pr = pd.DataFrame(data['obs_pr']) # Precipitation (mm) - 9 locations - 21546 rows
obs_dates = pd.DataFrame(data['obs_dates']) # dates - 21546 rows

Podemos ver que la variable *flow* esta directamente relacionada con la variable *flow_dates* debido a que tienen el mismo número de filas, y las variables *obs_tas*, *obs_pr* y *obs_dates* estan tambien relacionadas por tener el mismo número de filas.

Lo primero que haremos es analizar por tablas hechas de acuerdo a las relaciones que encontramos.

In [21]:
# Creamos una tabla del Flow

# eliminamos el indice de fecha para concatenar con el flujo
flow_dates=flow_dates.reset_index()
flow_dates=flow_dates.drop(['index'], axis=1)
flow_dates=flow_dates.rename(columns={0:1})
# hacemos una sola tabla
data_flow = pd.concat([flow, flow_dates], axis=1)
data_flow = data_flow.rename(columns={0:'flow', 1:'flow_dates'})
data_flow

           flow flow_dates
0      1.723781 1958-01-04
1      0.960882 1958-01-05
2      0.001000 1958-01-06
3      0.001000 1958-01-07
4      0.316796 1958-01-08
...         ...        ...
21537  4.843290 2016-12-22
21538  3.756970 2016-12-23
21539  3.556818 2016-12-24
21540  3.402133 2016-12-25
21541  1.812796 2016-12-26

[21542 rows x 2 columns]

In [22]:
# Creamos una tabla de tempraturas, precipitaciones y sus fechas

# eliminamos el indice de fecha para concatenar las columnas
obs_dates=obs_dates.reset_index()
obs_dates=obs_dates.drop(['index'], axis=1)
obs_dates=obs_dates.rename(columns={0:1})

# cambiamos los nombres de columas con sufijo del lugar
obs_tas=obs_tas.rename(columns={0:'obs_tas_1', 1:'obs_tas_2', 2:'obs_tas_3', 3:'obs_tas_4', 4:'obs_tas_5', 5:'obs_tas_6', 6:'obs_tas_7', 7:'obs_tas_8', 8:'obs_tas_9'})
obs_pr=obs_pr.rename(columns={0:'obs_pr_1', 1:'obs_pr_2', 2:'obs_pr_3', 3:'obs_pr_4', 4:'obs_pr_5', 5:'obs_pr_6', 6:'obs_pr_7', 7:'obs_pr_8', 8:'obs_pr_9'})
obs_dates=obs_dates.rename(columns={1:'obs_dates'})

# concatenamos
data_tas_pr = pd.concat([obs_tas, obs_pr, obs_dates], axis=1)
data_tas_pr

,obs_tas_1,obs_tas_2,obs_tas_3,obs_tas_4,obs_tas_5,obs_tas_6,obs_tas_7,obs_tas_8,obs_tas_9,obs_pr_1,obs_pr_2,obs_pr_3,obs_pr_4,obs_pr_5,obs_pr_6,obs_pr_7,obs_pr_8,obs_pr_9,obs_dates
0,-10.600000,-9.7,-6.7,-8.800000,-8.900000,-7.500000,-8.1,-6.5,-5.4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.1,0.1,1957-01-01
1,-20.500000,-19.1,-12.0,-17.700001,-17.700001,-13.100000,-15.5,-11.8,-9.1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.2,0.1,1957-01-02
2,-23.600000,-22.5,-15.1,-21.400000,-21.400000,-16.299999,-19.4,-14.6,-12.2,0.1,0.0,0.3,0.1,0.3,0.3,0.4,0.3,0.5,1957-01-03
3,-16.200001,-16.0,-14.1,-15.600000,-15.400000,-14.500000,-15.0,-13.8,-11.9,1.0,0.0,1.0,1.1,0.9,0.7,0.8,0.4,0.6,1957-01-04
4,-7.900000,-7.8,-9.5,-7.600000,-7.500000,-8.000000,-7.4,-8.6,-8.2,9.3,8.6,8.0,8.9,8.7,10.2,9.3,10.1,9.7,1957-01-05
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21541,-12.500000,-11.7,-8.6,-11.000000,-10.900000,-9.200000,-9.7,-8.4,-7.5,2.2,0.1,1.1,1.5,0.1,0.0,0.0,0.0,0.0,2015-12-27
21542,-12.500000,-11.9,-9.1,-11.400000,-11.200000,-9.800000,-10.6,-8.6,-7.5,5.5,4.9,8.3,6.1,3.7,5.0,5.4,0.0,5.1,2015-12-28
21543,-11.900000,-11.4,-8.4,-10.800000,-10.800000,-8.600000,-9.3,-7.2,-6.3,1.8,1.7,2.1,2.7,0.2,0.8,2.2,0.0,0.0,2015-12-29
21544,-7.000000,-6.5,-3.4,-5.900000,-6.100000,-4.800000,-5.0,-3.8,-3.0,4.1,3.5,4.6,5.1,3.5,3.4,3.2,0.0,3.6,2015-12-30
21545,-2.400000,-2.1,1.3,-1.500000,-1.800000,-0.800000,-0.9,0.5,1.1,6.4,7.4,8.5,8.4,8.4,9.8,7.9,10.0,8.1,2015-12-31

De aqui en delante, ya es más sencillo manipular los datos.